$beige: #ffdfd3;
$mainYellow: #d291bc;
$mainBlue: #b279f7;
$lightOrange: #e0bbe4;
$darkOrange: #957dad;
$cottonCandy: #fec8d8;
$unicornPink: #f7b5ea;
$unicornBlue: #b3d4f5;
$unicornYellow: #f7f294;
$unicornViolet: #dfb3ff;
$unicornLinkBlue: #a4ccf5;
